body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    flex: 1;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.error {
    color: red;
    text-align: center;
}

.message {
    color: green;
    text-align: center;
}

a {
    text-decoration: none;
    color: #0077cc;
    font-size: 16px;
}

a:hover {
    color: #0055cc;
}

form {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 10px;
}

.add_password {
    margin-top: 10px;
    padding: 10px;
    border: solid 1px #ddd !important;
    border-radius: 8px;
}

ul {
    max-width: 300px;
    margin: 0 auto;
    list-style-position: inside;
    text-align: left;
    list-style-type: none;
}

li {
    margin-bottom: 5px;
}

li form {
    display: inline;
}

button {
    margin-top: 3px;
}

#user-management {
    margin-top: 15px;
}

#user-management a {
    margin-right: 10px;
}

#logout {
    margin-top: 15px;
}

#back-to-dashboard, #back-to-view-users {
    text-align: center;
    margin-top: 10px;
}

table {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
}
