<!DOCTYPE html>
<html>
    <head>
        <title>View Audit Logs</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='js/audits.js') }}"></script>
    </head>
    <body>
        <main>
            <section>
                <div id="top_buttons">
                    <a href="{{ url_for('dashboard_route') }}">
                        <button>Back to Dashboard</button>
                    </a>                    
                    <button onclick="clearAllFilters()">Clear All Filters</button>
                    <button onclick="exportToCSV()">Export to CSV</button>
                </div>
            </section>
            <section>
                <h3>Audit Logs:</h3>
                <table id="audit-logs-table">
                    <thead>
                        <tr>
                            <th>Audit ID</th>
                            <th>Event Time</th>
                            <th>Event Message</th>
                            <th>Event Type</th>
                            <th>User ID</th>
                        </tr>
                        <tr>
                            <th><input type="text" onkeyup="filterTable()" placeholder="Filter by ID"></th>
                            <th>
                                <input type="date" id="start-date" onchange="filterTable()" placeholder="Start Date">
                                <input type="date" id="end-date" onchange="filterTable()" placeholder="End Date">
                            </th>
                            <th><input type="text" onkeyup="filterTable()" placeholder="Filter by Message"></th>
                            <th>
                                <select id="event-type-filter" onchange="filterTable()">
                                    <option value="all">All</option>
                                </select>
                            </th>
                            <th><input type="text" onkeyup="filterTable()" placeholder="Filter by User ID"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for log in audit_logs %}
                        <tr>
                            <td>{{ log.id }}</td>
                            <td>{{ log.event_time }}</td>
                            <td>{{ log.event_message }}</td>
                            <td>{{ log.event_type }}</td>
                            <td>{{ log.user_id }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
        </main>
    </body>
</html>