<html>
    <head>
        <title>Dashboard</title>
        <script src="{{ url_for('static', filename='js/functions.js')}}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
        <link rel="icon" href="{{ url_for('favicon') }}">
    </head>
    <body class="bg-light">
        <header class="shadow-sm header-height mb-4">
            <div class="container">
                <h2 class="mb-0 text-center">Welcome, {{ session.username }}!</h2>
            </div>
        </header>
        <main class="main-container">
            <div class="card card-centered">
                <div class="card-body text-center">
                    <h3 class="card-title">Your passwords:</h3>
                    {% if error %}
                        <p class="error">{{ error }}</p>
                    {% endif %}
                    
                    <form action="{{ url_for('select_password_for_edit_route') }}" method="GET" class="mb-4">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <div class="form-row">
                            <label for="service_name" class="form-label">Select Service:</label>
                            <select class="form-select form-control-custom" name="service_name" id="service_name" required>
                                <option value="" disabled selected>Select a service</option>
                                {% for password in passwords %}
                                    <option value="{{ password.service_name }}">{{ password.service_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">View</button>
                    </form>

                    {% if selected_password %}
                        <div class="password-form">
                            <form action="{{ url_for('update_password_route', service=selected_password.service_name) }}" method="POST">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="pw_id" value="{{ selected_password.id }}">
                                <div class="form-row">
                                    <label for="service" class="form-label"><h3>Service: {{selected_password.service_name}}</h3></label>
                                </div>
                                <div class="form-row">
                                    <label for="username" class="form-label">Username:</label>
                                    <input type="text" class="form-control form-control-custom" name="username" placeholder="New username" value="{{ selected_password.username }}" autocomplete="off" required>
                                </div>
                                <div class="form-row">
                                    <label for="password" class="form-label">Password:</label>
                                    <input type="password" class="form-control form-control-custom password-input" id="password{{ selected_password.id }}" name="password" placeholder="New password" value="{{ selected_password.password }}" autocomplete="off" required>
                                    <small id="strength-password{{ selected_password.id }}" class="form-text"></small>
                                </div>
                                <div class="form-row">
                                    <label for="notes" class="form-label">Notes:</label>
                                    <input type="text" class="form-control form-control-custom" name="notes" placeholder="Notes" value="{{ selected_password.notes }}" autocomplete="off">
                                </div>
                                <div class="form-row">
                                    <label for="shared_users" class="form-label">Share with:</label>
                                    <select class="form-select form-control-custom" name="shared_users" multiple>
                                        {% for user in all_users %}
                                            <option value="{{ user.id }}" {% if user.id in selected_password.shared_ids %}selected{% endif %}>{{ user.username }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mt-4">
                                    <button type="submit" class="btn btn-primary mx-2">Update</button>
                                    <button type="button" class="btn btn-secondary mx-2" id="toggle-password-{{ selected_password.id }}">Show Password</button>
                                    <button type="submit" formaction="{{ url_for('delete_password_route', service=selected_password.service_name) }}" class="btn btn-danger mx-2">Delete</button>
                                </div>
                            </form>
                        </div>
                    {% endif %}

                    <div class="password-form">
                        <h3>Add New Password</h3>
                        <form action="{{ url_for('add_password_route') }}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <div class="form-row">
                                <input type="text" class="form-control form-control-custom" name="service" placeholder="Service Name" autocomplete="off" required>
                            </div>
                            <div class="form-row">
                                <input type="text" class="form-control form-control-custom" name="username" placeholder="Username" autocomplete="off" required>
                            </div>
                            <div class="form-row">
                                <input type="text" class="form-control form-control-custom password-input" id="new-password" name="password" placeholder="Password" autocomplete="off" required>
                                <button type="button" class="btn btn-secondary mt-2" id="generate-password">Generate</button>
                                <small id="strength-new-password" class="form-text"></small>
                            </div>
                            <div class="form-row">
                                <input type="text" class="form-control form-control-custom" name="notes" placeholder="Notes" autocomplete="off">
                            </div>
                            <div class="form-row">
                                <label for="shared_users" class="form-label">Share with:</label>
                                <select class="form-select form-control-custom" name="shared_users" multiple>
                                    {% for user in all_users %}
                                        <option value="{{ user.id }}">{{ user.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Add Password</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="action-links">
                {% if session.role == 'admin' or session.role == 'manager' %}
                <div class="action-row">
                    <a href="{{ url_for('create_user_route') }}" class="btn btn-primary">Create New User</a>
                    <a href="{{ url_for('view_users_route')}}" class="btn btn-primary">View Users</a>
                </div>
                {% endif %}
                {% if session.role == 'admin' %}
                <div class="action-row">
                    <a href="{{ url_for('audit_log_viewer_route') }}" class="btn btn-warning">View Audit Logs</a>
                </div>
                {% endif %}
                <div class="action-row">
                    <a href="/logout" class="btn btn-danger">Logout</a>
                </div>
            </div>
        </main>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    </body>
</html>