<html>
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='js/functions.js')}}"></script>
    </head>
    <body>
        <header>
            <h2>Welcome {{ session.username }}!</h2>
        </header>
        <main>
            <section>
                <h3>Your passwords:</h3>
                
                <!-- Dropdown to select a service -->
                <form action="{{ url_for('select_password_for_edit_route') }}" method="GET">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <label for="service_name">Select Service:</label>
                    <select name="service_name" id="service_name" required>
                        <option value="" disabled selected>Select a service</option>
                        {% for password in passwords %}
                            <option value="{{ password.service_name }}">{{ password.service_name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit">View</button>
                </form>

                {% if selected_password %}
                    <!-- Form to edit the selected password -->
                    <form action="{{ url_for('select_password_for_edit_route', service=selected_password.service_name) }}" method="POST">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="pw_id" value="{{ selected_password.id }}">
                        <label for="username">Username:</label>
                        <input type="text" name="username" placeholder="New username" value="{{ selected_password.username }}" autocomplete="off" required>
                        <br>
                        <label for="password">Password:</label>
                        <input type="password" id="password{{ selected_password.id }}" name="password" placeholder="New password" value="{{ selected_password.password }}" autocomplete="off" required>
                        <br>
                        <label for="notes">Notes:</label>
                        <input type="text" name="notes" placeholder="Notes" value="{{ selected_password.notes }}" autocomplete="off">
                        <br>
                        <button type="submit">Update</button>
                    </form>
                    <button type="button" id="toggle-password-{{ selected_password.id }}">Show Password</button>
                    <form action="{{ url_for('delete_password_route', service=selected_password.service_name) }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="pw_id" value="{{ selected_password.id }}">
                        <button type="submit">Delete</button>
                    </form>
                {% endif %}

                <h3>Add New Password</h3>
                <form action="{{ url_for('add_password_route') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="text" name="service" placeholder="Service Name" autocomplete="off" required>
                    <input type="text" name="username" placeholder="Username" autocomplete="off" required>
                    <input type="text" name="password" placeholder="Password" autocomplete="off" required>
                    <input type="text" name="notes" placeholder="Notes" autocomplete="off">
                    <br>
                    <button type="submit">Add Password</button>
                </form>
            </section>

            {% if session.role == 'admin' or session.role == 'manager' %}
                <section id="user-management">
                    <a href="{{ url_for('create_user_route') }}">Create New User</a>
                    <a href="{{ url_for('view_users_route')}}">View Users</a>
                </section>
            {% endif %}
            {% if session.role == 'admin' %}
                <br>
                <section id="log_viewer">
                    <a href="{{ url_for('audit_log_viewer_route') }}">View Audit Logs</a>
                </section>
            {% endif %}

            <section id="logout">
                <a href="/logout">Logout</a>
            </section>
        </main>
    </body>
</html>
