<html>
    <head>
        <title>List User Passwords</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <header>
            <h2>Passwords for {{ user }}</h2>
        </header>
        <body>
            <table>
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    {% if user_passwords %}
                        {% for password in user_passwords%}
                            <tr>
                                <td>{{ password.service_name }}</td>
                                <td>{{ password.username }}</td>
                                <td>{{ password.password }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="3">No passwords found for this user.</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

            <div id="back-to-view-users">
                <a href="{{ url_for('view_users_route') }}">Back to View Users</a>
            </div>
        </body>
    </body>
</html>