<html>
    <head>
        <title>View Users</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <main>
            <section>
                <h3>Users:</h3>
                <ul id="users-list">
                    {% for user in users %}
                    {% if session.role == 'admin' or (session.role == 'manager' and (user.role == 'manager' or user.role == 'employee')) %}
                            <li>
                                <form action="{{ url_for('update_user_route', user_id=user.id) }}" method="post">
                                    <input type="hidden" name="user_id" value="{{ user.id }}">
                                    <label for="username">Username:</label>
                                    <input type="text" name="username" placeholder="New username" value="{{ user.username }}" autocomplete="off" required>
                                    <br>
                                    <label for="password">Password:</label>
                                    <input type="text" name="password" placeholder="New password" autocomplete="off">
                                    <br>
                                    {% if session.user_id != user.id %}
                                        <label for="role">Role:</label>
                                        <select name="role" id="role">
                                            <option value="employee" {% if user.role == 'employee' %}selected{% endif %}>Employee</option>
                                            {% if current_user_role == 'admin' %}
                                                <option value="manager" {% if user.role == 'manager' %}selected{% endif %}>Manager</option>
                                                <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Admin</option>
                                            {% endif %}
                                        </select>
                                    {% else %}
                                        <label>Role: {{ user.role }}</label>
                                    {% endif %}
                                    <br>
                                    <button type="submit">Update</button>
                                </form>

                                {% if session.username != user.username %}
                                    <form action="{{ url_for('delete_user_route', user_id=user.id) }}" method="post">
                                        <input type="hidden" name="user_id" value="{{ user.id }}">
                                        <button type="submit">Delete</button>
                                    </form>
                                {% endif %}
                            </li>
                            <br><br>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>

            <section id="user-management">
                {% if user_role == 'manager' or 'admin' %}
                    <a href="{{ url_for('create_user_route') }}">Create New User</a>
                {% endif %}
            </section>

            <div id="back-to-dashboard">
                <a href="{{ url_for('dashboard_route') }}">Back to Dashboard</a>
            </div>
        </main>
    </body>
</html>