<html>
    <head>
        <title>View Users</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    </head>
    <body>
        <main>
            <section>
                <h3>Select a User to Edit:</h3>
                <form action="{{ url_for('view_users_route') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <label for="selected_user_id">Choose a User:</label>
                    <select name="selected_user_id" id="selected_user_id" required>
                        <option value="" disabled selected>Select a user</option>
                        {% for user in users %}
                            {% if session.role == 'admin' or (session.role == 'manager' and (user.role == 'manager' or user.role == 'employee')) %}
                                <option value="{{ user.id }}">{{ user.username }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit">Edit Selected User</button>
                </form>
            </section>

            {% if selected_user %}
            <section>
                <h3>Edit User Details:</h3>
                <form action="{{ url_for('update_user_route', user_id=selected_user.id) }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="user_id" value="{{ selected_user.id }}">

                    <label for="username">Username:</label>
                    <input type="text" name="username" value="{{ selected_user.username }}" required>
                    <br>

                    <label for="password">Password:</label>
                    <input type="password" name="password" placeholder="New password">
                    <br>

                    {% if session.user_id != selected_user.id %}
                    <label for="role">Role:</label>
                    <select name="role" id="role">
                        <option value="employee" {% if selected_user.role == 'employee' %}selected{% endif %}>Employee</option>
                        {% if current_user_role == 'admin' %}
                            <option value="manager" {% if selected_user.role == 'manager' %}selected{% endif %}>Manager</option>
                            <option value="admin" {% if selected_user.role == 'admin' %}selected{% endif %}>Admin</option>
                        {% endif %}
                    </select><br>
                    {% else %}
                        <label>Role: {{ selected_user.role }}</label><br>
                    {% endif %}

                    <button type="submit">Update User</button>
                </form>

                {% if session.username != selected_user.username %}
                <form action="{{ url_for('delete_user_route', user_id=selected_user.id) }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="user_id" value="{{ selected_user.id }}">
                    <button type="submit">Delete</button>
                </form>
                {% endif %}

                {% if session.role == 'admin' or (session.role == 'manager' and (user.role == 'manager' or user.role == 'employee')) %}
                    {% if session.username != selected_user.username %}
                        <form action="{{ url_for('unlock_account_route', user_id=selected_user.id) }}" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="user_id" value="{{ selected_user.id }}">
                            <button type="submit">Unlock Account</button>
                        </form>
                    {% endif %}
                {% endif %}

                {% if messageonuser == selected_user.username %}
                    {% if message %} 
                        <p class="message">{{ message }}</p>
                    {% endif %}
                {% endif %}

                {% if erroronuser == selected_user.username %}
                    {% if error %}
                        <p class="error">{{ error }}</p>
                    {% endif %}
                {% endif %}
            </section>
            {% endif %}


            <section id="user-management">
                {% if user_role == 'manager' or 'admin' %}
                    <a href="{{ url_for('create_user_route') }}">Create New User</a>
                {% endif %}
            </section>

            <section id="back-to-dashboard">
                <a href="{{ url_for('dashboard_route') }}">Back to Dashboard</a>
            </section>
        </main>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    </body>
</html>
